.content {
	padding-top: 3em;
}

.tag-wrapper {
	display: block;
}

.tag {
	margin-bottom: 0;
	color: $brand-primary;
}

.heading {
	color: $white-light;

	a {
		color: inherit;		

		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
}

h1.heading {
	margin-top: 0.2em;
}

h2.heading a {
	color: $white;

	&:hover, &:active, &:focus {
		color: $white-light;
		text-decoration: none;
	}
}

h4.heading {
	color: $white-dark;
}

.featured {
	iframe {
		width: 100%;
		height: 20rem;
	}

	img {
		width: 100%;
		height: 20rem;
	}
}

.parse-area {
	@extend .markdown-body;
	padding-top: 1em;
	text-align: left;
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	th {
		font-family: "Rajdhani";
	}

	a {
		color: $brand-primary;
	}

	pre {
		border: none;

		code {
			color: $white;
		}
	}
}

.tag-wrapper-project { @extend .tag-wrapper; }
.tag-project { @extend .tag }

.heading-project { @extend .heading; }

.featured-video-project {
	@extend .featured;
	position: relative;
	padding-bottom: 56.5%;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.featured-image-project { @extend .featured; }
.parse-area-project { @extend .parse-area; }

@media (min-width: 768px) {
	.content {
		padding-top: 4em;
	}
}
